<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>LGCC  Explorer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body style="background-color:#FFFFFF">

<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="background-color:#c8242c">
    <li><a href="{{ url_for('index.home') }}" class="nav-link px-2 link-secondary" style="color:black">Home</a></li>
    <li><a href="{{ url_for('resource.resources') }}" class="nav-link px-2" style="color:white">Resources</a></li>
    <li><a href="https://mail.lagcc.cuny.edu/viplogin/Default.aspx" class="nav-link px-2" style="color:white">My LaGuardia</a></li>
    <li><a href="https://www.laguardia.edu/current-students/academic-help-tutoring/" class="nav-link px-2" style="color:white">Tutoring Center</a></li>
    <li><a href="https://www.laguardia.edu/uploadedfiles/main_site/content/academics/academic_calendar/pdf/academic-calendar-2022-23.pdf" class="nav-link px-2" style="color:white">Academic Calendar</a></li>
    <li><a href="https://www.laguardia.edu/wellnesscenter/" class="nav-link px-2" style="color:white">Wellness Center</a></li>
</ul>
<marquee>Welcome to our website.</marquee>

<div class="container">
    <img src="../static/assets/logo-laguardia-community-college-long.svg" alt="LaGuardia Community College Logo" style="display:block; margin-left:auto; margin-right:auto; height:200px; width:200px;">
    <h1>LaGuardia Express Search</h1>
    <center>Welcome to the LaGuardia Express Search! This is your one-stop tool to quickly find information and resources about LaGuardia Community College. Simply type or speak your academic question or keywords in the search bar. Our search engine will provide you with the most relevant links to LaGuardia's tutoring, financial aid, academic advising, career services, and more. </center>
<form method="POST" action="/search" id="form">
    <select name="language">
        <option value="en_US">English</option>
        <option value="es_ES">Spanish</option>
        <option value="zh_TW">Chinese</option>
    </select>
    <input type="text" name="service" placeholder="What is your question?"
           style="height: 44px; width: 600px; padding: 10px 50px 10px 16px; font-size: 16px;
              border: 1px solid #ddd; border-radius: 24px;
              box-shadow: 0px 1px 6px rgba(32, 33, 36, 0.28);
              background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-mic-512.png');
              background-repeat: no-repeat; background-position: 10px center;
              background-size: 24px 24px;">
    <button id="microphone"><i class="fa fa-microphone"></i></button>
    <button id="submit-button" value="Submit">Submit</button>
    <input type="text" hidden name="audio_file" id="audio_file" value="">
</form>
<p id="speech" hidden></p>
<div class="content">
<div class="mic" hidden>
    <i class="fas fa-microphone"></i>
</div>
</div>
<br>
<div id="results" style="display: none;">
</div>
<div id="spinner" style="display: none;">
    <span class="loader"></span>
</div>
</div>
       <div class="container">
           <h2>Frequently Asked Questions</h2>
           <div class="accordion" id="faqAccordion">
               <div class="accordion-item">
                   <h3 class="accordion-header" id="faqHeadingOne">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                               data-bs-target="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">
                           How do I use the voice search feature?
                       </button>
                   </h3>
                   <div id="faqCollapseOne" class="accordion-collapse collapse" aria-labelledby="faqHeadingOne"
                        data-bs-parent="#faqAccordion">
                       <div class="accordion-body">
                           To use the voice search feature, click and hold on the microphone icon and speak your query. You can also type
                           your query into the search bar and press enter.
                       </div>
                   </div>
               </div>
               <div class="accordion-item">
                   <h3 class="accordion-header" id="faqHeadingTwo">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                               data-bs-target="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseTwo">
                           How do I change the language of the search results?
                       </button>
                   </h3>
                   <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo"
                        data-bs-parent="#faqAccordion">
                       <div class="accordion-body">
                           You can change the language of the search results by selecting a different language from the
                           dropdown menu next to the search bar.
                       </div>
                   </div>
               </div>
               <div class="accordion-item">
                   <h3 class="accordion-header" id="faqHeadingThree">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                               data-bs-target="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">
                           How can I access all the resources available to me?
                       </button>
                   </h3>
                   <div id="faqCollapseThree" class="accordion-collapse collapse" aria-labelledby="faqHeadingThree"
                        data-bs-parent="#faqAccordion">
                       <div class="accordion-body">
                           You can access all the resources by clicking <a href="{{ url_for('resource.resources') }}">here</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ url_for('resource.resources') }}" class="nav-link px-2 text-body-secondary">Resource</a></li>
            <li class="nav-item"><a href="https://mail.lagcc.cuny.edu/viplogin/Default.aspx" class="nav-link px-2 text-body-secondary">My LaGuardia</a></li>
            <li class="nav-item"><a href="https://www.laguardia.edu/current-students/academic-help-tutoring/" class="nav-link px-2 text-body-secondary">Academic Tutoring</a></li>
            <li class="nav-item"><a href="https://www.laguardia.edu/uploadedfiles/main_site/content/academics/academic_calendar/pdf/academic-calendar-2022-23.pdf" class="nav-link px-2 text-body-secondary">Academic Calendar</a></li>
            <li class="nav-item"><a href="https://www.laguardia.edu/wellnesscenter/" class="nav-link px-2 text-body-secondary">Wellness Center</a></li>
        </ul>
        <p class="text-center text-body-secondary">2023 Team Bee, All Rights Reserved</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
