<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Prompt</title>
</head>
<body>
{% block content %}
    <h1>Prompt:</h1>
    {% for i in range(len) %}
        <h3>{{ stringlist[i] }}<a href="{{ urls[i] }}" target="_blank">{{ urls[i] }}</a></h3>
    {%endfor %}
    <h3>{{ stringlist[-1] }}</h3>
    {% if service_link_title %}
        <h2>Related Services:</h2>
    {% endif %}

    {% if service_links %}
        <ul>
        {% for service, link in service_links %}
            <li><a href="{{ link }}" target="_blank">{{ service }}</a></li>
        {% endfor %}
            {% if c_s %}
                <li>There's a computer science group on linkedin too!</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
</body>
</html>