body {
  background-color: white;
}

h1 {
  color: #c8242c;
  margin-left: 20px;
}

#record {
  background-color: red;
  border-width: medium;
  border-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  max-width: 50%;
  max-height: 50%;
  border-radius: 25%;
  left: 25px;
  right: 25px;
  position: relative;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.record_button {
  position: relative;
  background-color: red;
  color: white;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

.record_button:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 16px;
}

.record_button:hover {
  transform: scale(1.1);
}

.record_button:active {
  transform: scale(0.9);
}



